page-conversa {
    .msg-a{
        width: 80%;
    }

    .msg-b{
        width: 80%;
        margin-left: 19%;
    }

    .toolbar-background-md{
        background: #ccc;
    }

    ion-input, ion-textarea{
        background: white;
        border-radius: 2px;
    }
}
